<a href="https://colab.research.google.com/github/vu-bigdata-2020/homework-2/blob/master/test_colab_mongodb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#import packages
import time
from copy import deepcopy
import json
import pymongo
import os
import datetime
import pandas

In [3]:
#get the username and and password information - You need to run it one time at start
from getpass import getpass

USER = getpass('Enter Uder Name here: ')
PASS = getpass('Enter Password here: ')
HOST = getpass('Enter HOST here: ')
PORT = getpass('Enter PORT here: ')

Enter Uder Name here: ··········
Enter Password here: ··········
Enter HOST here: ··········
Enter PORT here: ··········

In [0]:
#set up mongo connection
mongo_url = "mongodb://{}:{}@{}:{}/?authSource={}".format(USER,
                                                         PASS,
                                                         HOST,
                                                         PORT,
                                                         "lahman")

client = pymongo.MongoClient(mongo_url)

In [11]:
#get access to a specific database. this will work if you imported the data properly as instructed
db = client['lahman']
#now print all collection names
print("collection names: {}".format(db.list_collection_names()))
reading = db['Batting'].find_one()
#print one batting documents
print(reading)

collection names: ['BattingPost', 'Pitching', 'Teams', 'FieldingPost', 'SchoolsPlayers', 'ManagersHalf', 'Appearances', 'Fielding', 'SeriesPost', 'Salaries', 'TeamsHalf', 'PitchingPost', 'AwardsPlayers', 'TeamsFranchises', 'AwardsShareManagers', 'FieldingOF', 'Schools', 'AllstarFull', 'Batting', 'Managers', 'AwardsSharePlayers', 'HallOfFame', 'Master', 'AwardsManagers']
{'_id': ObjectId('5e3c7f96229b764193e50a80'), 'playerID': 'aardsda01', 'yearID': 2004, 'stint': 1, 'teamID': 'SFN', 'lgID': 'NL', 'G': 11, 'G_batting': 11, 'AB': 0, 'R': 0, 'H': 0, '2B': 0, '3B': 0, 'HR': 0, 'RBI': 0, 'SB': 0, 'CS': 0, 'BB': 0, 'SO': 0, 'IBB': 0, 'HBP': 0, 'SH': 0, 'SF': 0, 'GIDP': 0, 'G_old': 11}

In [0]:
#pretty print json and convert to pandas
docs = pandas.DataFrame(columns=[])
reading["_id"] = str(reading["_id"])
series_obj = pandas.Series( reading, name=reading["_id"])
docs = docs.append( series_obj )
json_object = docs.to_json() # return JSON data
print ("\nJSON data:", json_export)

In [28]:
#working with a cursor that returns multiple documents
aaronha01batting = db['Batting'].find({ "playerID": {"$eq": "aaronha01"}})
years = [x['yearID'] for x in aaronha01batting]
years

[1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976]